<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<title>Breeding Roller</title>

<h1>Breeding Roller</h1>

<form action="/breeding/" method="post">{% csrf_token %}
    
     <h3>Sire</h3>
     <p>
         <label for="sirecoatcolour">Coat colour: </label>
         <select id="sirecoatcolour" name="sirecoatcolour">
             {% for colour in colours %}
             <option value="{{colour}}"{% if colour == sirecoatcolour_value %}selected="selected"{% endif %}>
                 {{colour}}
             </option>
             {% endfor %}
         </select>
         <label for="sirehorns">Horns: </label>
         <select id="sirehorns" name="sirehorns">
             {% for horns in horn_options %}
             <option value="{{horns}}"{% if horns == sirehorns_value %}selected="selected"{% endif %}>
                 {{horns}}
             </option>
             {% endfor %}
         </select>
         <label for="siretail">Tail: </label>
         <select id="siretail" name="siretail">
             {% for tail in tails %}
             <option value="{{tail}}"{% if tail == siretail_value %}selected="selected"{% endif %}>
                 {{tail}}
             </option>
             {% endfor %}
         </select>
         <label for="sirebase">Base: </label>
         <select id="sirebase" name="sirebase">
             {% for base in bases %}
             <option value="{{base}}"{% if base == sirebase_value %}selected="selected"{% endif %}>
                 {{base}}
             </option>
             {% endfor %}
         </select>
         <label for="siremod">Modifier: </label>
         <select id="siremod" name="siremod">
             {% for mod in modifiers %}
             <option value="{{mod}}"{% if mod == siremod_value %}selected="selected"{% endif %}>
                 {{mod}}
             </option>
             {% endfor %}
         </select>
         <label for="sirespecies">Subspecies: </label>
         <select id="sirespecies" name="sirespecies">
             {% for spec in species %}
             <option value="{{spec}}"{% if spec == sirespecies_value %}selected="selected"{% endif %}>
                 {{spec}}
             </option>
             {% endfor %}
         </select>
         <label for="siremut">Mutation: </label>
         <select id="siremut" name="siremut">
             {% for mut in mutations %}
             <option value="{{mut}}"{% if mut == siremut_value %}selected="selected"{% endif %}>
                 {{mut}}
             </option>
             {% endfor %}
         </select>
     </p>

    <p>
        If Full Chimera put the genes from both sides into the roller as if from a normal geno. Chimera coat colour is ignored if Chimera is None.
    </p>
    <p>
        <label for="sirechimera">Chimera: </label>
         <select id="sirechimera" name="sirechimera">
             {% for chim in chimera_options %}
             <option value="{{chim}}"{% if chim == sirechimera_value %}selected="selected"{% endif %}>
                 {{chim}}
             </option>
             {% endfor %}
         </select>
         <label for="sirechimeracolour">Chimera coat colour: </label>
         <select id="sirechimeracolour" name="sirechimeracolour">
             {% for colour in colours %}
             <option value="{{colour}}"{% if colour == sirechimeracolour_value %}selected="selected"{% endif %}>
                 {{colour}}
             </option>
             {% endfor %}
         </select>
    </p>

     <p>
        <label for="siregene1">Genes: </label>
        <select id="siregene1" name="siregene1">
        {% for gene in genes %}
            <option value="{{gene}}"{% if gene == siregene1_value %}selected="selected"{% endif %}>
                {{gene}}
            </option>
        {% endfor %}
        </select>
        <select id="siregene2" name="siregene2">
        {% for gene in genes %}
            <option value="{{gene}}"{% if gene == siregene2_value %}selected="selected"{% endif %}>
                {{gene}}
            </option>
        {% endfor %}
        </select>
        <select id="siregene3" name="siregene3">
        {% for gene in genes %}
            <option value="{{gene}}"{% if gene == siregene3_value %}selected="selected"{% endif %}>
                {{gene}}
            </option>
        {% endfor %}
        </select>
        <select id="siregene4" name="siregene4">
        {% for gene in genes %}
            <option value="{{gene}}"{% if gene == siregene4_value %}selected="selected"{% endif %}>
                {{gene}}
            </option>
        {% endfor %}
        </select>
        <select id="siregene5" name="siregene5">
        {% for gene in genes %}
            <option value="{{gene}}"{% if gene == siregene5_value %}selected="selected"{% endif %}>
                {{gene}}
            </option>
        {% endfor %}
        </select>
    </p>
    <p>
        <label for="siregene6">Genes continued: </label>
        <select id="siregene6" name="siregene6">
        {% for gene in genes %}
            <option value="{{gene}}"{% if gene == siregene6_value %}selected="selected"{% endif %}>
                {{gene}}
            </option>
        {% endfor %}
        </select>
        <select id="siregene7" name="siregene7">
        {% for gene in genes %}
            <option value="{{gene}}"{% if gene == siregene7_value %}selected="selected"{% endif %}>
                {{gene}}
            </option>
        {% endfor %}
        </select>
        <select id="siregene8" name="siregene8">
        {% for gene in genes %}
            <option value="{{gene}}"{% if gene == siregene8_value %}selected="selected"{% endif %}>
                {{gene}}
            </option>
        {% endfor %}
        </select>
        <select id="siregene9" name="siregene9">
        {% for gene in genes %}
            <option value="{{gene}}"{% if gene == siregene9_value %}selected="selected"{% endif %}>
                {{gene}}
            </option>
        {% endfor %}
        </select>
        <select id="siregene10" name="siregene10">
        {% for gene in genes %}
            <option value="{{gene}}"{% if gene == siregene10_value %}selected="selected"{% endif %}>
                {{gene}}
            </option>
        {% endfor %}
        </select>
    </p>

     <h3>Dam</h3>
     <p>
         <label for="damcoatcolour">Coat colour: </label>
         <select id="damcoatcolour" name="damcoatcolour">
             {% for colour in colours %}
             <option value="{{colour}}"{% if colour == damcoatcolour_value %}selected="selected"{% endif %}>
                 {{colour}}
             </option>
             {% endfor %}
         </select>
         <label for="damhorns">Horns: </label>
         <select id="damhorns" name="damhorns">
             {% for horns in horn_options %}
             <option value="{{horns}}"{% if horns == damhorns_value %}selected="selected"{% endif %}>
                 {{horns}}
             </option>
             {% endfor %}
         </select>
         <label for="damtail">Tail: </label>
         <select id="damtail" name="damtail">
             {% for tail in tails %}
             <option value="{{tail}}"{% if tail == damtail_value %}selected="selected"{% endif %}>
                 {{tail}}
             </option>
             {% endfor %}
         </select>
         <label for="dambase">Base: </label>
         <select id="dambase" name="dambase">
             {% for base in bases %}
             <option value="{{base}}"{% if base == dambase_value %}selected="selected"{% endif %}>
                 {{base}}
             </option>
             {% endfor %}
         </select>
         <label for="dammod">Modifier: </label>
         <select id="dammod" name="dammod">
             {% for mod in modifiers %}
             <option value="{{mod}}"{% if mod == dammod_value %}selected="selected"{% endif %}>
                 {{mod}}
             </option>
             {% endfor %}
         </select>
         <label for="damspecies">Subspecies: </label>
         <select id="damspecies" name="damspecies">
             {% for spec in species %}
             <option value="{{spec}}"{% if spec == damspecies_value %}selected="selected"{% endif %}>
                 {{spec}}
             </option>
             {% endfor %}
         </select>
         <label for="dammut">Mutation: </label>
         <select id="dammut" name="dammut">
             {% for mut in mutations %}
             <option value="{{mut}}"{% if mut == dammut_value %}selected="selected"{% endif %}>
                 {{mut}}
             </option>
             {% endfor %}
         </select>
     </p>

    <p>
        <label for="damchimera">Chimera: </label>
         <select id="damchimera" name="damchimera">
             {% for chim in chimera_options %}
             <option value="{{chim}}"{% if chim == damchimera_value %}selected="selected"{% endif %}>
                 {{chim}}
             </option>
             {% endfor %}
         </select>
         <label for="damchimeracolour">Chimera coat colour: </label>
         <select id="damchimeracolour" name="damchimeracolour">
             {% for colour in colours %}
             <option value="{{colour}}"{% if colour == damchimeracolour_value %}selected="selected"{% endif %}>
                 {{colour}}
             </option>
             {% endfor %}
         </select>
    </p>

     <p>
        <label for="damgene1">Genes: </label>
        <select id="damgene1" name="damgene1">
        {% for gene in genes %}
            <option value="{{gene}}"{% if gene == damgene1_value %}selected="selected"{% endif %}>
                {{gene}}
            </option>
        {% endfor %}
        </select>
        <select id="damgene2" name="damgene2">
        {% for gene in genes %}
            <option value="{{gene}}"{% if gene == damgene2_value %}selected="selected"{% endif %}>
                {{gene}}
            </option>
        {% endfor %}
        </select>
        <select id="damgene3" name="damgene3">
        {% for gene in genes %}
            <option value="{{gene}}"{% if gene == damgene3_value %}selected="selected"{% endif %}>
                {{gene}}
            </option>
        {% endfor %}
        </select>
        <select id="damgene4" name="damgene4">
        {% for gene in genes %}
            <option value="{{gene}}"{% if gene == damgene4_value %}selected="selected"{% endif %}>
                {{gene}}
            </option>
        {% endfor %}
        </select>
        <select id="damgene5" name="damgene5">
        {% for gene in genes %}
            <option value="{{gene}}"{% if gene == damgene5_value %}selected="selected"{% endif %}>
                {{gene}}
            </option>
        {% endfor %}
        </select>
    </p>
    <p>
        <label for="damgene6">Genes continued: </label>
        <select id="damgene6" name="damgene6">
        {% for gene in genes %}
            <option value="{{gene}}"{% if gene == damgene6_value %}selected="selected"{% endif %}>
                {{gene}}
            </option>
        {% endfor %}
        </select>
        <select id="damgene7" name="damgene7">
        {% for gene in genes %}
            <option value="{{gene}}"{% if gene == damgene7_value %}selected="selected"{% endif %}>
                {{gene}}
            </option>
        {% endfor %}
        </select>
        <select id="damgene8" name="damgene8">
        {% for gene in genes %}
            <option value="{{gene}}"{% if gene == damgene8_value %}selected="selected"{% endif %}>
                {{gene}}
            </option>
        {% endfor %}
        </select>
        <select id="damgene9" name="damgene9">
        {% for gene in genes %}
            <option value="{{gene}}"{% if gene == damgene9_value %}selected="selected"{% endif %}>
                {{gene}}
            </option>
        {% endfor %}
        </select>
        <select id="damgene10" name="damgene10">
        {% for gene in genes %}
            <option value="{{gene}}"{% if gene == damgene10_value %}selected="selected"{% endif %}>
                {{gene}}
            </option>
        {% endfor %}
        </select>
    </p>
    <h3>Modifiers</h3>
    <p>
        <input type="checkbox" name="somnis" value="somnis_true" {% if somnis_value %}checked{% endif %}>Somnis' Blessing (2-6 pups)
        <input type="checkbox" name="maleboost" value="maleboost_true" {% if maleboost_value %}checked{% endif %}>Male Boost (Oak Twig)
        <input type="checkbox" name="femaleboost" value="femaleboost_true" {% if femaleboost_value %}checked{% endif %}>Female Boost (Willow Sprig)
    </p>
    <p>
        <input type="checkbox" name="alpha" value="alpha_true" {% if alpha_value %}checked{% endif %}>Alpha's Blessing on either
        <input type="checkbox" name="bonded" value="bonded_true" {% if bonded_value %}checked{% endif %}>Pair are bonded to each other (this automatically adds the virus reduction from bonding)
   </p>
    <p>
    <label for="virusreduction">Virus reduction % (From Booster, Careers etc). If you have a booster only, enter 30, booster and one career 35 etc: </label>
        <input id="virusreduction" type="number" name="virusreduction" value="{{ virusreduction_value }}">
    <p>
    </p>
    <label for="inbred">Inbred? Enter number of shared ancestors of parents: </label>
        <input id="inbred" type="number" name="inbred" value="{{ inbred_value }}">
    </p>
    <h3>Seasonal Modifiers</h3>
    <p>
        <input type="checkbox" name="springblessing" value="springblessing_true" {% if springblessing_value %}checked{% endif %}>3-6 pups, uniform distribution. Ignores Somnis' blessing.
        <input type="checkbox" name="stardust" value="stardust_true" {% if stardust_value %}checked{% endif %}>Stardust may occur (10% chance)
        <input type="checkbox" name="stardust_boost" value="stardust_boost_true" {% if stardust_boost_value %}checked{% endif %}>Stardust quality boost (extra 5% chance)
    </p>
    <h3>Test Mode</h3>
    <p>
        <input type="checkbox" name="test" value="test_true" {% if test_value %}checked{% endif %}><b>Test mode</b> As well as the normal breeding this rolls a large number of pups and tells you how often the various possibilities occurred. Useful if you suspect the roller may be wrong.
    </p>
    <h3>Password</h3>
    <p>
        You need to fill this in to ensure that Discovery Genes are rolled - if the password is incorrect or missing you'll get an error message.
        If you're rolling a breeding for a staff member who knows the Discover Genes, just leave this blank and the discoveries won't happen, but any existing genes will pass as normal.
    </p>
    <p>
        <label for="password">Password: </label>
        <input id="password" type="text" name="password" value="{{ password_value }}">
    </p>
    <input type="submit" value="OK">
</form>
<p>Output {{form_valid}}</p>
<p>{{vespers_out}}</p>
<p>{{boost_out}}</p>
<h3>Actual Breeding</h3>
{% if password_valid %}
<p>{{ password_info }}</p>
{% else %}
<h3>{{ password_info }}</h3>
{% endif %}
{% for comment in comments %}
<p>{{comment}}</p>
{% endfor %}

{% for pup in puppies %}
{{ pup.Name }}<br>
{{ pup.Health }}<br>
{% if pup.Subspecies != "None" %}
Subspecies: {{ pup.Subspecies }}<br>
{% endif %}
Coat Type: {{ pup.Base }}<br>
Sex: {{ pup.Sex }}<br>
Appearance: {{ pup.Appearance }}<br>
Abnormalities: {{ pup.Abnormalities }}<br>
{% if pup.MinorMutation != "None" %}
Minor Mutation: {{pup.MinorMutation}}
{% endif %}
<p></p>
{% endfor %}
